<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with FastAPI</title>
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!--suppress JSUnresolvedLibraryURL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <div class="container" id="main-container">
        <div class='row'>
            <div class='col-md-8'>
                <h3>Device Streams</h3>
            </div>
        </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js" integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {

            // Global variable to store actice devices
            var currentDevices = [];
            var currentChartConfigs = {};
            var currentCharts = {};

            function createDeviceCharts(event) {

                // Parse event data
                const data = JSON.parse(event.data);

                // Iterate over each device id and create a chart
                Object.keys(data).forEach(function(id, index) {

                    // Update charts if they exist
                    if (currentDevices.includes(id)) {

                        currentChartConfigs[id].data.labels = data[id].time;
                        currentChartConfigs[id].data.datasets[0].data = data[id].x;
                        currentChartConfigs[id].data.datasets[1].data = data[id].y;
                        currentChartConfigs[id].data.datasets[2].data = data[id].z;
                        currentCharts[id].update();

                        return

                    }

                    let canvas = document.createElement('canvas');
                    canvas.setAttribute('id', id);
                    canvas.setAttribute('width', '100');
                    canvas.setAttribute('height', '50');
                    let canvasContainer = document.createElement('div');
                    canvasContainer.appendChild(canvas);
                    document.getElementById("main-container").appendChild(canvasContainer);

                    currentDevices.push(id);

                    var ctx = document.getElementById(id).getContext("2d");

                    currentChartConfigs[id] = {
                        type: 'line',
                        data: {
                            labels: data[id].time,
                            datasets: [{
                                label: "X",
                                backgroundColor: 'blue',
                                borderColor: 'blue',
                                data: data[id].x,
                                fill: false,
                            }, {
                                label: "Y",
                                backgroundColor: 'orange',
                                borderColor: 'orange',
                                data: data[id].y,
                                fill: false,
                            }, {
                                label: "Z",
                                backgroundColor: 'green',
                                borderColor: 'green',
                                data: data[id].z,
                                fill: false,
                            }],
                        },
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Accelerometer signal for ' + id
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Time'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Value'
                                    }
                                }]
                            }
                        }
                    };

                    currentCharts[id] = new Chart(ctx, currentChartConfigs[id]);

                });


            }

            const source = new EventSource("http://127.0.0.1:8080/chart-data");

            source.addEventListener("new_message", function(event) {

                createDeviceCharts(event);

            });

        });
    </script>
</body>

</html>